POSTGRES_DB=employee_task_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

DATABASE_URL=postgresql+psycopg2://postgres:change_me@postgres:5432/employee_task_db
ENVIRONMENT=production
CORS_ORIGINS=http://YOUR_EC2_PUBLIC_IP:3000

BACKEND_IMAGE=280710007209.dkr.ecr.ap-south-2.amazonaws.com/employee-task-backend:v1
FRONTEND_IMAGE=280710007209.dkr.ecr.ap-south-2.amazonaws.com/employee-task-frontend:v1
